html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0rem;
    background-color: #00ADB5;
    border: #222831 2px solid;
    height : 10vh;
}

.header_section__h1{
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    color: #222831;
}

.main_section{
    background-color: #393E46;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    flex: 1;
    overflow: auto;
}

.create_category__button {
    position: relative;
    padding: 0.5rem;
    padding-left: 30px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #eeeeee;
    background-color: #00ADB5;
    border:  #222831 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 2px #222831;
    cursor : pointer;
}

.create_category__button:hover {
    background-color: #eeeeee;
    box-shadow: 0 0 4px #00ADB5;
    color: #00ADB5;
}

.create_category__button::before {
    content: '';
    display: inline-block;
    background-image: url('../assets/add_white.png');
    background-size: cover; 
    width: 20px; 
    height: 20px; 
    position: absolute;
    left: 5px; 
    top: 50%;
    transform: translateY(-50%); 
}

.create_category__button:hover::before {
    background-image: url('../assets/add_blue.png');
}

@keyframes strike-through {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.strikethrough {
    position: relative;
    opacity: 0.6;
}

.strikethrough::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    background-color: #b51500;
    width: 0;
    animation: strike-through 0.5s forwards;
}

.category {
    display: inline-block;
    background-color: #eeeeee;
    border: 1px solid #00ADB5;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-right: 10px; 
    height: auto;
    box-sizing: border-box;
    vertical-align: top; 
    width: 300px; 

}

.category__header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1rem; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 2px #222831;

}

.category__header__name {
    width: calc(100% - 22px);
    padding: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.category__buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.task_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    background-color: #eeeeee;
    border: 2px solid #00ADB5;
    border-radius: 5px;
    width: 100%;
}


.task_content h3{
    padding: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}


.task__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.task__buttons button{
    border: none;
    cursor: pointer;
}

.task__buttons button img{
    width: 17px;
    height: 17px;
}

.task__buttons button img:hover{
    width: 20px;
    height: 20px;
}



